<div class="row">
  <div class="col-md-12">
    <div
      ba-panel
      ba-panel-title="Nat Fixer Plugin"
      ba-panel-class="with-scroll"
      class="natfixer"
      >
      <form name='form' ng-submit="submit()">
        <div class="row">
          <div class="col-md-8">
            <label>NAT Fixer Script:</label>
            <textarea name="scripts" class="form-control" ng-model="$parent.scripts"></textarea>
          </div>
        </div>
        <br/>
        <p class="help-info">This will run every 30 minutes.</p>
        <br/>
        <button type="submit" ng-disabled="form.$invalid" ladda="$parent.saving" class="btn btn-primary">Save Changes</button>
      </form>
    </div>
  </div>
</div>
